{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <section>
        <div class="content">
        <form action="validar.php" method="post">
            
                <div class="column">
                    <div class="row">
                        <H1>CONNEXION</H1>
                        <img id="profile" src="{{ asset('css/logo/logo.png') }}" alt="">
                
                    </div>
                    <br>
                    <div class="row">
                          <label for="user-email">
                           &nbsp;Email
                           </label>
                          <input id="user-email" value="{{ last_username }}" class="form-content" type="email" name="email" autocomplete="on" required />    
                        </div>
                        <br>
                    <div class="row">
                        <label for="user-password" >&nbsp;Password
                        </label>
                        <input id="user-password" class="form-content" type="password" name="password" required />
                        
                    </div>
                    <br>
                    <div class="row">
                        <input type="hidden" name="_csrf_token"
                         value="{{ csrf_token('authenticate') }}" >
                        <input id="submit-btn" type="submit" name="submit" value="CONNEXION" />
                    </div>
                </div>
        </form>
    </div>

   </section> 

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    
</form>
<style>
 
section {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

section .content{
    border-radius: 10%;
    background-color: rgba(241, 236, 228, 0.513);
    width: 30%;
    padding: 0.9%;
    margin-top: 10%; 
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
    margin-left: 50px;
}

input{
    border-radius: 0%;
    border-color: transparent;
    width: 50%;
    padding: 0.9%;
    font-family: sans-serif;
    margin-left: 50px;
}

h1{
    font-family: sans-serif;
    margin-left: 100px;
}

#profile{
    width: 40%;
    border-radius: 600%;
    margin-left: 100px;
}

button {
    border: 30%;
    width: 20%;
    height: 200%;
    background-color: rgba(162, 175, 162, 0.609);
    text-decoration: none;
    margin-left: 250px;
    padding: 2%;
    border-radius: 20%;
}

button:hover{
    background-color: rgb(162, 175, 162);
    cursor: pointer;
}
#user-password{
  margin-left: 15px;
}

/*Media Devices*/

@media only screen and (max-width: 600px) {
    .content{
        width: 90%;
    }
  }


</style>
{% endblock %}