
{% block body %}
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <section>
        <div class="content">
        <form action="validar.php" method="post">
            
                <div class="column">
                    <div class="row">
                        <h2>CONNEXION</h2>
                        <img id="profile" src="{{ asset('css/logo/logo.png') }}" alt="">
                
                    </div>
                    <br>
                    <div class="row">
                          <label for="user-email">
                           &nbsp;Email
                           </label>
                          <input id="user-email" value="{{ last_username }}" class="form-content" type="email" name="email" autocomplete="on" required />    
                        </div>
                        <br>
                    <div class="row">
                        <label for="user-password" >&nbsp;Password
                        </label>
                        <input id="user-password" class="form-content" type="password" name="password" required />
                        
                    </div>
                    <br>
                    <div class="row">
                        <input type="hidden" name="_csrf_token"
                         value="{{ csrf_token('authenticate') }}" >
                        <input id="submit-btn" type="submit" name="submit" class="con-btn" value="CONNEXION" />
                    </div>
                </div>
                <a href="{{ path('home') }}"  class="inscrit-button float-left" >Inscription</a> 
           
             
        </form>
    </div>
    
   </section> 

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    
</form>
<style>
body{
   background: url(http://zurb.com/playground/uploads/upload/upload/87/wood-bg.jpg) repeat;
} 
section {
  display: flex;
  justify-content: center;
  align-items: center;
   
}

section .content{
    border-radius: 10%;
    background-color: rgba(241, 236, 228, 0.513);
    width:40%;
    padding: 0.9%;
    margin-top: 8%;
    
}

label {
    
    font-size: 120%;
    margin-left: 50px;
}

input{
    border-radius: 0%;
    border-color: transparent;
    width: 50%;
    padding: 0.9%;
    font-family: sans-serif;
    margin-left: 50px;
}

h2{
    font-family: sans-serif;
    margin-left: 180px;
    margin-bottom:30px;
    font-size:40px;
}

#profile{
    width: 30%;
    border-radius: 60%;
    margin-left:200px;
}

.con-btn {
    
    width: 120px;
    height: 35px;
    background-color: #fff;
    text-decoration: none;
    margin-left:400px;
    
}

button:hover{
    background-color: rgb(162, 175, 162);
    cursor: pointer;
}
#user-password{
  margin-left: 15px;
}

/*Media Devices*/

@media only screen and (max-width: 600px) {
    .content{
        width: 90%;
    }
  }
.inscrit-button{
    color: #030303ec;
    background-color:#f2f5f7;
    border: 1.5px solid #ee9da1;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
	margin:7px 4px;
	
}
.inscrit-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

</style>
{% endblock %}