   
 
 <nav>
        <div id="logo">CLUB BEAUTE</div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu">
                <li><a href="{{ path('home') }}">Accuiel</a></li>
                <li><a href="{{ path('centresdebeaute') }}">Centres De Beauté</a></li>
               
                    <li class="navbar-dropdown">
                        <a href="{{ path('services') }}">
                            Services
                                                   
                        </a>
                        <div class="dropdown">
                            <a href="{{ path('servicelilia') }}">
                                Service Lilia Ben Aziza                        
                                                        
                            </a>
                            <a href="{{ path('serviceviolette') }}">
                                Service Violette
                                                         
                            </a>
                            <a href="{{ path('servicefleurdelys') }}">
                                Service Fleur De Lys
                                                         
                            </a>
                            <a href="{{ path('servicemahassen') }}">
                                Service Mahassen
                                                         
                            </a>

                        </div>
                    </li>
				
                <li><a href="{{ path('contact') }}">Contact</a></li>
                  {% if app.user %}
             
            <li><a class="nav-link" >{{ app.user.nom }} {{ app.user.prenom }}</a> </li>
            <li><button class="login-button" href="{{ path('app_logout') }}">Déconnexion</button></li>
             {% else %}
			<li> <a href="{{ path('register') }}"  class="inscrit-button" >Inscription</a></li> 
           
            <li> <a href="{{ path('app_login') }}"  class="join-button" >Connexion</a></li> 
            {% endif %}
            </ul>
        </nav>
        <style>
            /* CSS Document */



.join-button{
    color: #131418;
    background-color: #ee9da1;
    border: 1.5px solid #ee9da1;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
	margin:7px 4px;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.inscrit-button{
    color: #131418;
    background-color: transparent;
    border: 1.5px solid #ee9da1;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
	margin:7px 4px;
	
}
.inscrit-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

h1 {
	font-size: 60px;
	text-align: center;
	color:rgb(7.7.6);
}	

h3 {
	font-size: 40px;
	line-height: 34px;
	text-align: center;
	color: rgb(7,7,6);
}

h3 a {
	color: rgb(7,7,6);
}

a {
	color: rgb(7,7,6);
}

h1 {
	
	text-align:center;
	font-size:60px;
	line-height: 70px;
	font-family: 'Bree Serif', 'serif';
	}

#container{
	margin: 0 auto;
	max-width: 890px;
	
}

p {
	text-align: center;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
	background-color:  rgb(236, 190, 163);
	box-shadow: 0px 10px 15px 8px rgba(0, 0, 0, 0.8);
}

#logo {
	display: block;
	padding: 0 30px;
	float: left;
	font-size:20px;
	line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: rgb(236, 190, 163);
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color:rgb(7,7,6);
	font-size:17px;
	text-decoration:none;
}


nav ul li ul li:hover { background:#fff; }

/* Background color change on Hover */
nav a:hover { 
	background-color: #fff; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	
	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul ,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li ,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li ,
	nav ul ul a {
		background-color: #212121; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}

 .menu li.navbar-dropdown {
    position: relative;
}

.menu li.navbar-dropdown:hover .dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.menu li.navbar-dropdown .dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 20px 0;
    top: 100%;
    transform: translateY(50px);
    left: 0;
    width: 250px;
    background-color: #fff;
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 111;
    transition: 0.4s all;
}

.menu li.navbar-dropdown .dropdown a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
}

.navbar-dropdown .dropdown a:hover {
    padding-left: 30px;
}


        </style>