{% extends 'base.html.twig' %}

{% block title %}Calendarmahassen index{% endblock %}

{% block body %}
    <h1>Calendarmahassen index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Start</th>
                <th>End</th>
                <th>Description</th>
                <th>All_day</th>
                <th>Background_color</th>
                <th>Border_color</th>
                <th>Text_color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calendarmahassen in calendarmahassens %}
            <tr>
                <td>{{ calendarmahassen.id }}</td>
                <td>{{ calendarmahassen.titre }}</td>
                <td>{{ calendarmahassen.start ? calendarmahassen.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendarmahassen.end ? calendarmahassen.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendarmahassen.description }}</td>
                <td>{{ calendarmahassen.allDay ? 'Yes' : 'No' }}</td>
                <td>{{ calendarmahassen.backgroundColor }}</td>
                <td>{{ calendarmahassen.borderColor }}</td>
                <td>{{ calendarmahassen.textColor }}</td>
                <td>
                    <a href="{{ path('calendarmahassen_show', {'id': calendarmahassen.id}) }}">show</a>
                    <a href="{{ path('calendarmahassen_edit', {'id': calendarmahassen.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('calendarmahassen_new') }}">Create new</a>
{% endblock %}
