{% extends 'base.html.twig' %}

{% block title %}Réservation Lilia Ben Aziza{% endblock %}

{% block body %}
    <h1>Réservation Lilia Ben Aziza</h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th>Nom_user</th>
                <td>{{ reservationlilia.User }}</td>
            </tr>
            <tr>
                <th>End_date</th>
                <td>{{ reservationlilia.startDate ? reservationlilia.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Start_date</th>
                <td>{{ reservationlilia.endDate ? reservationlilia.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nbr_personne</th>
                <td>{{ reservationlilia.nbrPersonne }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reservationlilia.description }}</td>
            </tr>
        </tbody>
    </table>
    <div>
    <a href="{{ path('reservationlilia_index') }}"><button class="btn btn-light" >Voir La Liste</button></a> {{ include('reservationlilia/_delete_form.html.twig') }}
    </div>
     <style>
      h1{
        
         font-family: 'Playfair Display', serif;
         color: rgb(252, 252, 250);
         font-size:35px;
         text-shadow: 3px 4px 0 rgba(14, 12, 12, 0.2); 
      }
    </style>

   
{% endblock %}
