<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Music8a{% endblock %}</title>
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, ">
         <link rel="stylesheet" href="{{ asset('css/style.css') }}">
         <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
         integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
         crossorigin=""/>
    </head>
    <body>
      

      

    <header>
        
   <nav class="navbar navbar-expand-lg navbar-white fixed-top " >
        
  <a class="navbar-brand text-dark"  href="{{ path('home') }}"> <img class="mySlides" src="{{ asset('css/logo/logo.png') }}" alt="image" style="height: 50px;width:80px;margin-left:10px;border-radius: 50%;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="{{ path('home') }}">Accuiel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('centresdebeaute') }}">Centres de beaute</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('services') }}">Nos services</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Reservation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
      <ul class="navbar-nav d-flex justify-content-end">

       {% if app.user %}
                      
       <li class="nav-item ">
        <a class="nav-link" >{{ app.user.nom }} {{ app.user.prenom }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
      </li>
      

       {% else %}
       <li class="nav-item ">
        <a class="nav-link" href="{{ path('register') }}">Inscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
      </li>
      
       {% endif %}
     
    </ul>
    
  </div>
</nav>
       </header>   
        {% block body %}{% endblock %}
      

       <footer class="main-footer">
        <div class="container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row clearfix">
                    
                    <!--Column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget about-widget">
                                    <div class="logo">
                                        <a href="#"><img src="{{ asset('css/logo/logo.png') }}" style="width: 180px;height:150px;border-radius: 50%;" alt="image" /></a>
                                    </div>
                                    <div class="text">
                                        <p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam.</p>
                                       
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <h2>Services</h2>
                                    <ul class="footer-list">
                                        <li><a href="#">Coiffeur</a></li>
                                        <li><a href="#">Maquillage</a></li>
                                        <li><a href="#">Esthetique&Soin</a></li>
                                        <li><a href="#">Hammam&SPA</a></li>
                                        <li><a href="#">Offre De Mariage</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                     <!--Column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget gallery-widget">
                                    <h2>Liens Rapides</h2>
                                   <ul class="footer-list">
                                        <li><a href="#">Accueil</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Sous-Services</a></li>
                                        <li><a href="#">Reservation</a></li>
                                        <li><a href="#">Contact</a></li>
                                      
                                    </ul>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget info-widget">
                                    <h2>Contact Info</h2>
                                    <ul class="info-list">
                                        <li>Rue 06, City Marcy, Douar Hicher, code postale 2086</li>
                                        <li>+216 202-207</li>
                                        <li>hanamezdarip4@gmail.com</li>
                                    </ul>
                                    <!-- Social Links -->
                                    <ul class="social-links">
                                        <li class="google"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                        <li class="facebook"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li class="instagram"><a href="#"><span class="fab fa-instagram"></span></a></li>
                                        <li class="twitter"><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row clearfix">
                    
                    <div class="column col-lg-6 col-md-12 col-sm-12">
                        <div class="copyright"><span class="theme_color">Ak Web Designer</span> &copy; 2022 All Right Reserved</div>
                    </div>
                    <div class="column col-lg-6 col-md-12 col-sm-12">
                        <ul class="footer-nav">
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    
    </footer>

       


      <script src="{{ asset('js/index.js')}}"></script>
      <script src="{{ asset('js/bootstrap.bundle.min.js')}}"></script>
      <script src="{{ asset('js/jquery-3.5.1.slim.min.js')}}"></script>
      <script src="{{ asset('js/popper.min.js')}}"></script>  
    </body>
</html>
