<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <title>{% block title %}CLUB BEAUTE{% endblock %}</title>
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, ">
         <link rel="stylesheet" href="{{ asset('css/style.css') }}">
         <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
         integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
         crossorigin=""/>
        
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" 
         integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
         
    </head>
    <body>
        <audio autoplay>
            <source src="http://www.michelacosta.com/navidad/glacier.mp3" type="audio/mpeg">
          </audio>
        {{ include('include/socialfloat.html.twig') }} 
         
         <header>
            
         {{ include('include/header.html.twig') }}  
        </header>
 
    <div class="container-fluid" style=" 
        background: url(http://zurb.com/playground/uploads/upload/upload/87/wood-bg.jpg) repeat;" 
        > 
        {% block body %}{% endblock %}</div>
      

       <footer class="main-footer">
        <div class="container-fluid">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row clearfix">
                    
                    <!--Column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget about-widget">
                                    <div class="logo">
                                        <a href="#"><img src="{{ asset('css/logo/logo.png') }}" style="width: 180px;height:150px;border-radius: 50%;" alt="image" /></a>
                                    </div>
                                    <div class="text">
                                        <p>Club Beauté est l'application de prise de rendez-vous beauté qui va changer votre facon de vous organiser.L'idée,vous éviter de perdre un temps précieux en vous permettant de prendre rendez-vous dans l'un de nos centres de beauté partenaire,en quelques clics et 24h/24h!</p>
                                       
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <h2>Services</h2>
                                    <ul class="footer-list">
                                        <li><a href="#">Coiffeur</a></li>
                                        <li><a href="#">Maquillage</a></li>
                                        <li><a href="#">Esthetique&Soin</a></li>
                                        <li><a href="#">Hammam&SPA</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                     <!--Column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget gallery-widget">
                                    <h2>Liens Rapides</h2>
                                   <ul class="footer-list">
                                        <li><a href="{{ path('home') }}">Accueil</a></li>
                                        <li><a href="{{ path('centresdebeaute') }}">Centres De Beaute</a></li>
                                        <li><a href="{{ path('services') }}">Services</a></li>
                                       
                                        <li><a href="{{ path('contact') }}">Contact</a></li>
                                      
                                    </ul>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget info-widget">
                                    <h2>Contact Info</h2>
                                    <ul class="info-list">
                                        <li>Rue 06, City Marcy, Douar Hicher, code postale 2086</li>
                                        <li>+216 202-207</li>
                                        <li>hanamezdarip4@gmail.com</li>
                                    </ul>
                                    <!-- Social Links -->
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            <hr>
                <div class="footer-bottom">
                    <center><h5> © Copyright 2021 Company Name. All rights reserved.</h5></center>
                    
                </div>
            </div>
        </div>
    
    </footer>
       
       <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"
 integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>
       
      <script src="{{ asset('js/index.js')}}"></script>
      <script src="{{ asset('js/bootstrap.bundle.min.js')}}"></script>
      <script src="{{ asset('js/jquery-3.5.1.slim.min.js')}}"></script>
      <script src="{{ asset('js/popper.min.js')}}"></script>  
      
    </body>
</html>
