<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CLUB BEAUTE{% endblock %}</title>
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, ">
         <link rel="stylesheet" href="{{ asset('css/style.css') }}">
         <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
         integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
         crossorigin=""/>
        
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" 
         integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    </head>
    <body>
     
    
    
        <div class="bg_move" style="margin-top: 30px;" >
            
        <h7 >CLUB BEAUTE</h7>
    </div> 
    <header >
    <nav class="navbar navbar-expand-lg navbar-white">
    <div class="container-fluid">
        <a class="navbar-brand text-dark"  href="{{ path('home') }}"> <img  src="{{ asset('css/logo/logo.png') }}" alt="image" style="height: 50px;width:80px;margin-left:10px;border-radius: 50%;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
      <li class="nav-item " >
        <a class="nav-link" href="{{ path('home') }}">Accuiel</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{{path('centresdebeaute')}}">Centres de beaute </a> 
     </li>                                                         
    
      <ul class="navbar-links">
                    <li class="navbar-dropdown">
                        <a href="{{path('services')}}">
                            Nos services                          
                        </a>
                        <div class="dropdown">
                            <a href="{{path('servicelilia')}}">
                                Lilia Ben Aziza                        
                                                          
                            </a>
                            <a href="{{path('serviceviolette')}}">
                               Violette
                                                             
                            </a>
                            <a href="{{path('servicefleurdelys')}}">
                                Fleur De Lys
                                                             
                            </a>
                            <a href="{{path('servicemahassen')}}">
                                Mahassen
                                                             
                            </a>

                        </div>
                    </li>
       </ul>
    
      <li class="nav-item">
        <a class="nav-link" href="#">Reservation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('contact')}}">Contact</a>
      </li>
    </ul>
      <ul class="navbar-nav d-flex justify-content-end">

       {% if app.user %}
                      
       <li class="nav-item ">
        <a class="nav-link" >{{ app.user.nom }} {{ app.user.prenom }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
      </li>
      

       {% else %}
       <li class="nav-item ">
        <a class="nav-link" href="{{ path('register') }}">Inscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
      </li>
      
       {% endif %}
     
    </ul>
   </div> 
  </div>
</nav>
       </header>  
       <div class="container-fluid" style=" 
        background: url(http://zurb.com/playground/uploads/upload/upload/87/wood-bg.jpg) repeat;" 
        > 
        {% block body %}{% endblock %}</div>
      

       <footer class="main-footer">
        <div class="container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row clearfix">
                    
                    <!--Column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget about-widget">
                                    <div class="logo">
                                        <a href="#"><img src="{{ asset('css/logo/logo.png') }}" style="width: 180px;height:150px;border-radius: 50%;" alt="image" /></a>
                                    </div>
                                    <div class="text">
                                        <p>Club Beauté est l'application de prise de rendez-vous beauté qui va changer votre facon de vous organiser.L'idée,vous éviter de perdre un temps précieux en vous permettant de prendre rendez-vous dans l'un de nos centres de beauté partenaire,en quelques clics et 24h/24h!</p>
                                       
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <h2>Services</h2>
                                    <ul class="footer-list">
                                        <li><a href="#">Coiffeur</a></li>
                                        <li><a href="#">Maquillage</a></li>
                                        <li><a href="#">Esthetique&Soin</a></li>
                                        <li><a href="#">Hammam&SPA</a></li>
                                        <li><a href="#">Offre De Mariage</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                     <!--Column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget gallery-widget">
                                    <h2>Liens Rapides</h2>
                                   <ul class="footer-list">
                                        <li><a href="#">Accueil</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Sous-Services</a></li>
                                        <li><a href="#">Reservation</a></li>
                                        <li><a href="#">Contact</a></li>
                                      
                                    </ul>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget info-widget">
                                    <h2>Contact Info</h2>
                                    <ul class="info-list">
                                        <li>Rue 06, City Marcy, Douar Hicher, code postale 2086</li>
                                        <li>+216 202-207</li>
                                        <li>hanamezdarip4@gmail.com</li>
                                    </ul>
                                    <!-- Social Links -->
                                    <ul class="social-links">
                                        <li class="google"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                        <li class="facebook"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li class="instagram"><a href="#"><span class="fab fa-instagram"></span></a></li>
                                        <li class="twitter"><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    
    </footer>

       <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"
 integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>
       
      <script src="{{ asset('js/index.js')}}"></script>
      <script src="{{ asset('js/bootstrap.bundle.min.js')}}"></script>
      <script src="{{ asset('js/jquery-3.5.1.slim.min.js')}}"></script>
      <script src="{{ asset('js/popper.min.js')}}"></script>  
      
    </body>
</html>
